<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Perfil do Usuario
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Israel Morais</ion-card-title>
      <ion-card-subtitle>utente responsavel</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://avatars.githubusercontent.com/u/126245661?v=4" />
          </ion-thumbnail>
          <ion-label>Item</ion-label>
          <ion-label>Item</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus illum ratione maxime. Rem corporis dignissimos cumque libero natus molestias nostrum sapiente impedit?
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus illum ratione maxime. Rem corporis dignissimos cumque libero natus molestias nostrum sapiente impedit?
    </ion-card-content>
  </ion-card>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button>
          <ion-icon slot="icon-only" name="send"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button>
          <ion-icon slot="icon-only" name="star"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button>
          <ion-icon slot="icon-only" name="refresh"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
