<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Serviços
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-accordion-group>
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label>First Serviço</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-button expand="block">Consultar</ion-button>
        <ion-button expand="block">Consultar</ion-button>
      </div>
    </ion-accordion>
    <ion-accordion value="second">
      <ion-item slot="header" color="light">
        <ion-label>Second Serviço</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-button expand="block">Consultar</ion-button>
        <ion-button expand="block">Consultar</ion-button>
      </div>
    </ion-accordion>
    <ion-accordion value="third">
      <ion-item slot="header" color="light">
        <ion-label>Third Serviço</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-button expand="block">Consultar</ion-button>
        <ion-button expand="block">Consultar</ion-button>
      </div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
