<ion-header>
  <ion-toolbar>
    <ion-title>Informação do App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Israel Morais</ion-card-title>
      <ion-card-subtitle>Progamador </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://avatars.githubusercontent.com/u/126245661?v=4" />
          </ion-thumbnail>
          <ion-label>App para gestaão dos erviços do Gabinete do utente</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
